.title {
    font-size: 100px;
    font-family: 'Nixie One', cursive;
    text-align: center;
    margin-top: 100px;
}

.mysearch {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width:800px;  
}