{% extends "./base.html" %}

{% block content %}
    <div class="title">Git Radar</div>
    <form method="post" action="">
        <div class="ui massive left icon input mysearch">
            <input type="text" placeholder="Search locations..." id="location" name="location">
            <i class="map marker icon"></i>
        </div>
    </form>

{% if actors %}
<ul>
    {% for actor in actors %}
        <li>
            <a href="/report/{{ actor['login'] }}">{{ actor['login'] }}</a>({{ actor.get('name', 'null') }})&nbsp;{{ actor['val'] }}
        </li>
    {% end %}
</ul>
{% end %}

{% end %}