{% extends "./base.html" %}

{% block js %}
{% end %}

{% block content %}
<h3 class="ui green header">
    Ranking in {{ location }}: 
</h3>

<div class="ui very relaxed divided list">
    {% for actor in actors %}
        <div class="item">
            <div class="right floated tiny teal">{{ actor['val'] }}</div>
            <img class="ui avatar image" src="http://www.gravatar.com/avatar/{{ actor.get('gravatar_id', '') }}">
            <div class="content">
                <a href="/report/{{ actor['login'] }}" class="header">{{ actor['login'] }}</a>
                    {% if 'name' in actor %}
                        ({{ actor['name'] }})
                    {% end %}
                <div class="description"></div>
            </div>
        </div>
    {% end %}
</div>
{% end %}

{% block js_embed %}
<script type="text/javascript">
</script>
{% end %}
