{% extends "./base.html" %}

{% block content %}
<div class="ui piled segment">
    <div class="cv">

    <!-- top bar (basic profile) -->
    <div class="cv-top">
        <img class="rounded ui image" src="http://www.gravatar.com/avatar/{{ actor['gravatar_id'] }}?s=140"></img>
        <h2>
            <a class="markedness" href="https://github.com/{{ actor['login'] }}">{{ actor['name'] }}</a></br>
            <div class="description">A python hacker</br>
            {% if actor.get('blog', '') %}
            Website: <a href="{{ actor['blog'] }}">{{ actor['blog'] }}</a></br>
            {% end %}
            Based: {{ actor['location']['name'] }}, {{ actor['location']['countryName'] }}</div>
        </h2>
    </div>

    <div class="ui clearing divider"></div>

    <!-- report start -->

    <!-- recently -->
    <div class="ui ribbon label">Recently</div>
    <p>
    As far as we know, {{ actor['name'] }} was devoted to the project {{}} recently, of which {{}} is the most popular one, it has {{}} stars and {{}} forks.
    </p>

    <!-- Open Sourcing -->
    

    {% if result %}
    <ul>
    {% for r in result %}
        <li>
            Repo id: {{ int(r["repository.id"]) }}
            <ul>
            {% for c in r["contribution"] %}
                <li>
                    <a href="{{ c["url"] }}">{{ c["name"] }}</a> ☆:{{ int(c["star"]) }} Y:{{ int(c["fork"]) }}
                    <ul>
                        {% for t in c["payload"] %}
                            <li>{{ t }} {{ int(c["payload"][t]) }}</li>
                        {% end %}
                    </ul>
                </li>
            {% end %}
            </ul>
        </li>       
    {% end %}
    </ul>
    {% end %}
    </div>
</div>

{% end %}
