@import url(http://fonts.googleapis.com/css?family=Underdog);

body {
    background: url(./bg.jpg);
}

.container {
    width: 800px;
    margin: 0 auto;
}

#search {
    width: 600px;
    margin: 0 auto;
}

#title {
    font-family: 'Underdog', cursive;
    font-size: 85pt;
    width: 500px;
    margin: 50px auto;
}

#location {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px 12px;
    font-size: 18pt;
    width: 550px;
    margin: 0 auto;
}

#location:focus {
    border-color: #51a7e8;
    outline: 0;
}